<div style = "float:left; width: 30%">
<h1>New Room</h1>
<%= form_for :room, url: rooms_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Create Room', class: 'btn btn-primary' %>
  </p>
<% end %>
</div>
<div style="float:right; width: 70%">
  <h1>Listing Rooms</h1>
   
  <table class = "table">
    <tr>
      <th>Title</th>
      <th>Text</th>
    </tr>
   
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.title %></td>
        <td><%= room.description %></td>
        <td><%= link_to 'Join', room %> <td>
      </tr>
    <% end %>
  </table>
</div>